---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Harmonic Software";
const description = "Building web applications who think.";
const permalink = Astro.site!.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1 class="text-blue-500">Harmonic Software</h1>
      <p>Building web apps who think.</p>
      <div class="flex gap-4 justify-center md:justify-start">
        <a
          href="mailto:info@harmonic.so"
          class="rounded-full bg-blue-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        >
          Contact
        </a>
        <a
          href="#about"
          class="rounded-full px-4 py-2.5 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-900 hover:bg-opacity-10"
        >
          About <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 inline-block"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 0 1 1 1v9.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 0 1 1.414-1.414L9 13.586V4a1 1 0 0 1 1-1z"
            ></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="hero-image-container">
      <img class="hero-image" alt="technical diagrams" src="/assets/hero-new.png" />
    </div>
  </div>

  <div class="container">
    <h2 class="text-blue-500" id="about">About</h2>
    <p>
      Hi I'm <a href="https://www.linkedin.com/in/danielsosebee" target="_blank">Daniel Sosebee</a>,
      founder of Harmonic Software. Harmonic Software is a California LLC that provides <span
        class="font-semibold bg-yellow-500 bg-opacity-40">full-stack AI product development</span
      > and <span class="font-semibold bg-yellow-500 bg-opacity-40">technical advising</span> services,
      working closely with clients to apply the latest and best AI technology to their business needs.
      <br />
      <br />
      <span class="">On the technical side:</span> I specialize in implementing <a
        href="https://blogs.nvidia.com/blog/what-is-retrieval-augmented-generation/"
        target="_blank">retrieval-augmented generation</a
      > apps and designing <a
        href="https://en.wikipedia.org/wiki/Cognitive_architecture"
        target="_blank">cognitive architectures</a
      > — enabling LLMs to follow workflows and interact with your domain-specific data. I've also worked
      on cognitive architectures for <em>human</em> workflows through projects like <a
        href="https://a.methodable.com"
        target="_blank">Methodable</a
      >.
      <br />
      <br />
      If you're interested in working together, please <a href="mailto:info@harmonic.so"
        >reach out</a
      > with some details and we can schedule a call.
    </p>

    <div class="bg-blue-500 bg-opacity-5 pt-4 pb-3 px-4 rounded-lg shadow">
      <h2 class="text-blue-500 mt-0">Portfolio</h2>

      <div class="flex-col space-y-4 pt-2">
        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/the-josh-bersin-logo.png"
            alt="The Josh Bersin Company"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a href="https://sanalabs.com/galileo" target="_blank"
                >Galileo by The Josh Bersin Company</a
              >
            </h3>

            <p class="-mt-1">
              Advising on AI product strategy and building software to support Galileo, the first AI
              knowledge assistant for HR
            </p>
          </div>
        </div>

        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/sana-logo.png"
            alt="Sana Labs"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3><a href="https://sana.ai" target="_blank">Sana AI</a></h3>
            <p class="-mt-1">
              Designing full-stack systems that enable Sana's enterprise AI assistant to take action
              and execute workflows
            </p>
          </div>
        </div>

        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/digital-abacus-logo.png"
            alt="The Digital Abacus"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a href="https://digital-abacus.vercel.app/" target="_blank">The Digital Abacus</a> (<a
                href="https://github.com/dnsosebee/digital-abacus"
                target="_blank">open source</a
              >)
            </h3>
            <p class="-mt-1">
              Built a full-stack interactive web application for mathematical modeling
            </p>
          </div>
        </div>

        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/methodable.png"
            alt="Methodable"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a href="https://a.methodable.com" target="_blank">Methodable</a> (<a
                href="https://github.com/dnsosebee/methodable"
                target="_blank">open source</a
              >)
            </h3>
            <p class="-mt-1">
              Designed and built a web tool for defining and executing complex human workflows
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-blue-500">Testimonials</h2>
    <blockquote>
      I often describe the period before Daniel as “a bunch of academics moving boulders around.”
      Afterwards it was like “magic hands,” with many things moving quickly and effortlessly into
      place.
      <br />
      <br />
      Daniel is extremely easy to work with and highly collaborative... I would strongly recommend Daniel
      to anyone needing quality software development and intend to hire him myself in the future.
    </blockquote>
    <cite>- Paul Dancstep, founder of The Digital Abacus</cite>

    <div class="flex justify-center gap-4 pt-8">
      <img src="/assets/logo.svg" alt="Harmonic Software" class="h-12 w-12" />
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
