---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Harmonic Software";
const description = "We help companies build reliable AI applications.";
const permalink = Astro.site!.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1 class="text-blue-500">
        <span class="glowy-text">Harmonic Software</span>
      </h1>
      <p>We help companies build reliable AI applications</p>
      <div class="flex gap-4 justify-center md:justify-start">
        <a
          href="mailto:info@harmonic.so"
          class="rounded-2xl bg-blue-700 px-4 py-2.5 sm:text-xl font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        >
          Get in touch
        </a>
        <a
          href="#about"
          class="rounded-2xl px-4 py-2.5 sm:text-xl font-semibold shadow-sm ring-1 ring-inset ring-gray-500 ring-opacity-30 hover:bg-gray-900 hover:bg-opacity-10"
        >
          Learn more <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 inline-block"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 0 1 1 1v9.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 0 1 1.414-1.414L9 13.586V4a1 1 0 0 1 1-1z"
            ></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="hero-image-container">
      <img class="hero-image" alt="technical diagrams" src="/assets/hero-new.png" />
    </div>
  </div>

  <div class="container">
    <h2 class="text-blue-500 mt-0" id="about">About</h2>
    <p>
      Hi I'm <a href="https://www.linkedin.com/in/danielsosebee" target="_blank">Daniel Sosebee</a>,
      founder of Harmonic Software. We provide <span
        class="font-semibold bg-yellow-500 bg-opacity-40">technical advising</span
      > and <span class="font-semibold bg-yellow-500 bg-opacity-40">full-stack development</span> services
      for <a
        href="https://blogs.nvidia.com/blog/what-is-retrieval-augmented-generation/"
        target="_blank">retrieval-augmented generation</a
      > and <a
        href="https://www.technologyreview.com/2024/07/05/1094711/what-are-ai-agents/"
        target="_blank">AI agents</a
      > products.
      <br />
      <br />
      If you're looking to design a more intuitive and reliable AI product, or just want to chat, reach
      out to
      <a href="mailto:info@harmonic.so"> info@harmonic.so</a>.
    </p>

    <div class="bg-blue-500 bg-opacity-5 pt-4 pb-3 px-4 rounded-lg shadow">
      <h2 class="text-blue-500 mt-0">Projects</h2>

      <div class="flex-col space-y-4 pt-2">
        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/the-josh-bersin-logo.png"
            alt="The Josh Bersin Company"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a href="https://joshbersin.com/Galileo/" target="_blank"
                >Galileo by The Josh Bersin Company</a
              >
            </h3>

            <p class="-mt-1">AI assistant grounded in 25 years of HR research</p>
          </div>
        </div>

        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/sana-logo.png"
            alt="Sana Labs"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a
                href="https://www.linkedin.com/feed/update/urn:li:activity:7199361073152450560/"
                target="_blank">Sana AI</a
              >
            </h3>
            <p class="-mt-1">Agent framework for multi-step enterprise workflows</p>
          </div>
        </div>

        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/digital-abacus-logo.png"
            alt="The Digital Abacus"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a href="https://digital-abacus.vercel.app/" target="_blank">The Digital Abacus</a> (<a
                href="https://github.com/dnsosebee/digital-abacus"
                target="_blank">open source</a
              >)
            </h3>
            <p class="-mt-1">Interactive web app for mathematical modeling</p>
          </div>
        </div>

        <div class="border-t-2 border-gray-500 border-opacity-30 mx-2"></div>

        <div class="flex gap-6 items-center">
          <img
            src="/assets/projects/methodable.png"
            alt="Methodable"
            class="object-cover h-24 w-24 rounded shadow-sm ml-1"
          />
          <div>
            <h3>
              <a href="https://a.methodable.com" target="_blank">Methodable</a> (<a
                href="https://github.com/dnsosebee/methodable"
                target="_blank">open source</a
              >)
            </h3>
            <p class="-mt-1">
              Web tool for human workflows (winner of grant from <a
                href="https://makeabetter.computer"
                target="_blank">Make a Better Computer</a
              >)
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-blue-500">Testimonials</h2>
    <blockquote>
      I often describe the period before Daniel as “a bunch of academics moving boulders around.”
      Afterwards it was like “magic hands,” with many things moving quickly and effortlessly into
      place.
      <br />
      <br />
      Daniel is extremely easy to work with and highly collaborative... I would strongly recommend Daniel
      to anyone needing quality software development and intend to hire him myself in the future.
    </blockquote>
    <cite>- Paul Dancstep, founder of The Digital Abacus</cite>

    <div class="flex justify-center gap-4 pt-8">
      <img src="/assets/logo.svg" alt="Harmonic Software" class="h-12 w-12" />
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  .reg-background {
    background-color: var(--background-body) !important;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }

  /* .glowy-text {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-shadow: -2px 4px rgba(0, 0, 0, 0.7);
  } */
</style>
